.nk-card {
    border: 0.1px grey solid;
    max-width: 200px !important; /*!important used to override bootstrap*/
    margin-top: 25px;
    background-color: white;
}

.acc-title{
    font-size: 25px;
    font-weight: 450;
    margin-top: 5px;
    color: gray;
}

body{
    background-color: blueviolet;
}